<html xmlns:th="http://www.thymeleaf.org">
<head> 
</head>
<body>
    
    <div>
        <form action="/crearcuenta" method="post">
            <label for="fname">Nombres:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <label for="lname">Apellidos:</label><br>
            <input type="text" id="lname" name="lname" value=""><br>
            <input list="tipoid" name="tipoid">
            <datalist id="tipoid">
              <option value="Cedula">
              <option value="Tarjeta de identidad">
              <option value="Pasaporte">
            </datalist>
            <label for="cedula">Cedula: </label><br>
            <input type="number" id="cedula" name="cedula" value=""><br>
            <label for="nickname">Nombre de Usuario:</label><br>
            <input type="text" id="nickname" name="nickname" value=""><br>
            <label for="pass">Contraseña:</label><br>
            <input type="text" id="pass" name="pass" value=""><br>
            <label for="comidaPreferida1">Primera Comida favorita:</label><br>
            <input type="text" id="comidaPreferida1" name="comidaPreferida1" value=""><br>
            <label for="comidaPreferida2">Segunda Comida favorita:</label><br>
            <input type="text" id="comidaPreferida2" name="comidaPreferida2" value=""><br>
            <label for="comidaPreferida3">Tercera comida preferida:</label><br>
            <input type="text" id="comidaPreferida3" name="comidaPreferida3" value=""><br>
            <label for="alergias">Alergias Alimenticias:</label>
            <br>
            <input type="checkbox" id="alergia1" name="selectedAllergies" value="Maní">
            <label for="alergia1">Maní</label>
            <br>
            <input type="checkbox" id="alergia2" name="selectedAllergies" value="Mariscos">
            <label for="alergia2">Mariscos</label>
            <br>
            <input type="checkbox" id="alergia3" name="selectedAllergies" value="Frutos Rojos">
            <label for="alergia3">Frutos Rojos</label>
            <br>
            <input type="checkbox" id="alergia4" name="selectedAllergies" value="Huevo">
            <label for="alergia4">Huevo</label>
            <br>
            <input type="checkbox" id="alergia5" name="selectedAllergies" value="Leche">
            <label for="alergia5">Leche</label>
            <br>
            <input type="checkbox" id="alergia6" name="selectedAllergies" value="Soya">
            <label for="alergia6">Soya</label>
            <br>
            <input type="checkbox" id="alergia7" name="selectedAllergies" value="Gluten">
            <label for="alergia7">Gluten</label>
            <br>
            <input type="checkbox" id="alergia8" name="selectedAllergies" value="Nueces">
            <label for="alergia8">Nueces</label>
            <br>
            <input type="checkbox" id="alergia9" name="selectedAllergies" value="Adivitos">
            <label for="alergia9">Adivitos</label>
            <br>
            <input type="checkbox" id="alergia10" name="selectedAllergies" value="similiares al polen">
            <label for="alergia10">Alimentos similiares al polen </label>
            <br>
            <input type="checkbox" id="alergia11" name="selectedAllergies" value="Alimentos Crudos">
            <label for="alergia11">Alimentos Crudos</label>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>